
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-display: swap;
}

*, 
*::before,
*::after  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
    background-color: #191919;
    font-family: "DM Sans", sans-serif;
    list-style-type: none;
    width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;

  }

.main-index {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 26px;
  margin-bottom: 26px;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}

.navigation-logo{
 margin-right: 777px;

}

.navigation-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.navigation-item {
  list-style-type: none;
  margin-right: 40px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px;
text-decoration: none;
list-style-type: none;
padding-top: 20px;
padding-bottom: 20px;
}

.welcome-section{
  display: grid;
  padding: 40px 50px 0;
  gap: 60px;
  grid-template-columns: 650px 590px;
  margin-bottom: 100px;
  position: relative;
}

.welcome-section::before{
  position: absolute;
  content: "";
  background-image: url(../images/mail_image_decoration.svg);
  top: 15px;
  left: 25px;
  width: 68px;
  height: 74px;
}

.welcome-main-wrapper{
  grid-column: 2/2;
  grid-row: 1/1;
  padding-top: 131px ;
  padding-top: 131px ;
}

.welcome-text-wrapper{
  display: flex;
  flex-direction: raw;
  flex-wrap: wrap;
  padding-top: 163px;
  margin-bottom: 90px;

}

.welcome-text-1{
color: #FFF;
font-family: DM Sans;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 88px; 
letter-spacing: 3.2px;

}

.welcome-text-2 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin-right: 25px;
  display: block;
  position: relative;
}

.welcome-text-2::after{
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  background-image: url(../images/decoration_line_under_text.svg);
  width: 160px;
  height: 104px;
}

.welcome-text-3 {
color: #FFF;
font-family: DM Sans;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 88px; 
letter-spacing: 3.2px;
}

.welcome-text-social-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.welcome-text-social{
color: #FFF;
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
margin-bottom: 16px;
}

.welcome-image {
  border-radius: 12px;
  background-color: darkgray;
  grid-column: 1 / 1;
  grid-row: 1 /1 ;
  
}



.welcome-icons-social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome-icons-social-item {
  margin-right: 17px;
  list-style-type: none;
}



.latest-episode-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

.latest-episode{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 0 50px;
  margin-bottom: 160px;
}



.latest-episode-item{
  list-style-type: none;
  border-radius: 32px;
background: #000;
width: 1300px;
padding: 40px;
display: grid;
grid-template-columns: 389px 778px ;
gap: 53px;
}

.latest-episode-item-wrapper {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.latest-episode-image{
  grid-column: 1/1;
}

.latest-episode-title {
  color: #FFF;
font-family: DM Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 79.2px; 
letter-spacing: 2.88px;
align-self: flex-start;
}

.latest-episode-hashtag{
color: #FFF;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
background-color: #191919;
border-radius: 6px;
display: inline-block;
text-align: center;
padding: 0 16px;
margin-bottom: 48px;
}

.latest-episode-number {
  color: #118DA8;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}

.latest-episode-name {
  color: #FFF;
font-family: DM Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 70.4px; 
letter-spacing: 2.56px;
margin-bottom: 28px;
}

.latest-episode-description{
  color: rgba(255, 255, 255, 0.70);
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}

.author-section{
  display: grid;
  gap: 60px;
  grid-template-columns: 590px 650px;
  padding: 100px 50px;
  margin-bottom: 100px;
}

.author-wrapper-inner{
  padding-top: 147px;
  padding-bottom: 147px;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.author-decoration{
  border-radius: 400px;
  background: #118DA8;
  width: 112px;
  height: 112px;
  position: relative;

}

.author-decoration::before{
  position: absolute;
content: "";
top: 35px;
left: 20px;
background-image: url(../images/arrow.png);
width: 71px;
height: 38px;
background-repeat: no-repeat;
}



.author-intro{
  color: #118DA8;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
padding-top: 20px;
display: block;

}









.author-title{
  color: #FFF;
font-family: DM Sans;
font-size: 65px;
font-style: normal;
font-weight: 400;
line-height: 79.2px; /* 121.846% */
letter-spacing: 2.88px;
margin-bottom: 28px;
}

.author-desc {
  color: rgba(255, 255, 255, 0.70);

font-family: DM Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 33px;
}

.author-desc1{
  margin-bottom: 33px;
}

.authot-photo {
  border-radius: 12px;
  grid-column: 2/2;
}

.subscribe{
  width: 1300px;
  border-radius: 32px;
background: #000;
display: grid;
grid-template-columns: 642px 582px;
gap: 76px;
margin-right: 50px;
margin-left: 50px;
margin-bottom: 100px;
position: relative;
}

.subscribe::after{
position: absolute;
content: "";
bottom: -33px;
left: -34px;
background-image: url(../images/subscribe_decoration.svg);
width: 147px;
height: 91px;

}

.subscribe-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 57px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 85px;
}

.subscribe-form {
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 75px;

}

.subscribe-title{
  color: #118DA8;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; 

}

.subscribe-text {
  color: #FFF;

font-family: DM Sans;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 79.2px; /* 110% */
letter-spacing: 2.88px;
}

.subscribe-name,
.subscribe-email{
  color: rgba(255, 255, 255, 0.70);

font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px;
width: 522px;
padding-left: 19px;
padding-top: 26px;
padding-bottom: 27px;
text-align: start;
border-radius: 6px;
border: 1px solid #191919;
background: #191919;
display: block;
margin-bottom: 20px;
}

.reviews-list{
  display: grid;
  gap: 16px;
  grid-template-columns: 423px 423px 423px;
  padding: 100px 50px;
}

.reviews-item {
  list-style-type: none;
  width: 423px;
  
  padding: 92px 60px 51px 50px;
  border-radius: 32px;
  background: #000;
}

.reviews-text {
  color: #FFF;
font-family: DM Sans;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 43.2px; 
margin-bottom: 19px;
position: relative;
}

.reviews-text::before{
  position: absolute;
  content: "";
  top: -35px;
  bottom: 0;
  background-image: url(../images/star.svg);
  width: 18px;
  height: 17px;
  background-repeat: space;
  margin-right: 5px;
}

.reviews-text-5-stars::before{
  width: 106px;
}

.reviews-author {
  color: rgba(255, 255, 255, 0.70);

font-family: DM Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28.8px;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px 50px;
  width: 1300px;
}

.footer-logo-social-wrapper{
  margin-right: 16px ;
  width: 447px;
}

.footer-logo{
  margin-bottom: 20px;
}

.footer-social-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-social-2{
  flex-grow: 1;
  margin-right: 0;
}

.footer-welcome-icons-social{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-social-item{
  list-style-type: none;
  margin-right: 10px;
}

.footer-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-menu-1{
  margin-right: 16px;
  width: 178px;
}

.footer-menu-2{
  margin-right: 16px;
  width: 178px;
}

.footer-menu-list {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-menu-link {
  text-decoration: none;
  color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px;

}

.latest-episode-button,
.latest-episode-button-all {
  border-radius: 6px;
background: #118DA8;
padding: 12px 15px 12px 20px;
border-color: transparent;
color: #FFF;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
}



.latest-episode-button-all {
  margin-top: 24px;
margin-bottom: 24px;
}

.subscribe-button {
  padding: 9px 15px 10px 19px;
  border-radius: 6px;
background: #118DA8;
border-color: transparent;
color: rgba(255, 255, 255, 0.70);
font-family: DM Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 28.8px;
}

